<% include head %>

<title>Cast</title>
</head>
<body>
	<h1 class="style">Cast</h1>
	<input type="button" onclick="history.back();" value="Return to Search">
    <p>Test Page: Check console!</p>
</body>
</html>