<% include head %>

	<title>Search Page</title>
</head>
<body>
	<h1 class="style">Search Page:</h1>
	<h2>Web App is still in Demo/Production stage:</h2>

	<form class="style" action="/Results" method="get">
	    <input type="text" name="search" placeholder="Search movie...">
	    <input type="submit">
	</form>

	<form method="get" action="/BoxOffice">
		<button type="submit">Box Office</button>
	</form>

</body>
</html>