<% include partials/head %>
<style>
	body {
	  	font-family: Arial, sans-serif;
	  	background-color: #36393f;
	}
	p{
	  	text-align: center;
	 	color: #cbcbcc;
	  	font-size: 16px;
	  	margin-top: 2.5px;
	  	margin-bottom: -15px;
	}
	h1{
	  	text-align: center;
	  	color: #cbcbcc;
	 	margin-top: 2.5px;
	 	margin-bottom: 2.5px;
	}
	h2{
		text-align: center;
		margin-top: -20px;
		margin-bottom: 0px;
		color: #6f7276;
		font-size: 12px;
	}
	h3{
		text-align: center;
		margin-top: 25px;
		margin-bottom: 0px;
		color: #cbcbcc;
		font-size: 24px;
	}
	img{
		border-radius: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.text{
		background-color: #e8f0ff;
		width: 750px;
		height: 66.67px;
		text-align: left;
	  	color: #6f7276;
		font-size: 15px;
		font-weight: bold;
		border: none;
		padding-left: 25px;
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	input:hover.text{
		box-shadow: none;
	}
	input, button{
		background-color: #566cf5;
		width: 150px;
		height: 66.67px;
		text-align: center;
	  	color: #cbcbcc;
		font-size: 15px;
		font-weight: bold;
		border: none;
		border-radius: 5px;
		transition: 0.5s;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	input:hover.button, button:hover{
		cursor: pointer;
		box-shadow: none;
		background-color: #566bf5a2;
	}
	input:active.button, button:active{
		cursor: none;
		background-color: #6f7276;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.container-1{
	  	display: flex;
	  	flex-direction: column;
		align-items: center;
	}
	.flexbox-item1{
	  	margin: 25px 0px 25px 0px;
	}
	/*
	.container-2{
	  	display: flex;
	  	flex-wrap: wrap;
	  	justify-content: space-around;
	}
	.flexbox-item-2{
	  	background-color: #566cf5;
	  	width: 233.33px;
	  	height: 333.33px;
	  	border-radius: 10px;
	  	padding: 0px 25px 0px 25px;
	  	margin: 25px 15px 25px 15px;
	  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	*/
	#rank{
		margin-top: 35px;
		margin-bottom: 0px;
	}
	#title{
		margin-top: -20px;
		margin-bottom: 0px;
	}
	.container-3{
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
	.flexbox-item3{
	  	margin: 0px 10px 0px 10px;
	}
	img {
		border-radius: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	img:hover{
		box-shadow: none;
	}
	img:active{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
</style>
	<title>Full Stack Movies</title>
</head>
<body>
	<main>

	<section>
	<br><br><h2><i>There will be<br>a logo here<br>eventually...</i></h2><br>
	<h1>Home</h1><br>
	<h2><i><b>Find movies, cast, reviews, & box office info by title...</b></i></h2>
	</section>

	<section class="container-1">

	<form class="flexbox-item1" action="/Results" method="get">
	    <input class="text" type="text" name="search" placeholder="General movie info...">
	    <input class="button" type="submit" value="Search">
	</form>

	<form class="flexbox-item1" action="/Cast" method="get">
	    <input class="text" type="text" name="cast_search" placeholder="Cast & crew...">
	    <input class="button" type="submit" value="Search">
	</form>

	<form class="flexbox-item1" action="/Reviews" method="get">
	    <input class="text" type="text" name="review_search" placeholder="Movie reviews...">
	    <input class="button" type="submit" value="Search">
	</form>

	<form class="flexbox-item1" method="get" action="/BoxOffice">
		<button type="submit">Box Office</button>
	</form>

	</section>

	</main>
	<footer>

		<br><br><br>

		<h2>Powered by:</h2><br>

		<section class="container-3">
		<h1 class="flexbox-item3"><a href="https://www.imdb.com/" target="_blank"><img src="/imdb.png" alt="IMDb Logo" width="200px" height="100px"></a></h1>
		<h1 class="flexbox-item3"><a href="http://www.omdbapi.com/" target="_blank"><img src="/omdb.png" alt="OMDb Logo" width="200px" height="100px"></a></h1>
		<h1 class="flexbox-item3"><a href="https://www.nytimes.com/" target="_blank"><img src="/nytimes.png" alt="NY Times Logo" width="100px" height="100px"></a></h1>
		<h1 class="flexbox-item3"><a href="https://www.themoviedb.org/" target="_blank"><img src="/tmdb.png" alt="TMDB Logo" width="200px" height="100px"></a></h1>
		</section>

	</footer>
</body>
</html>