<% include ../partials/head %>

<style>
	body {
	  font-family: Arial, sans-serif;
	  background-color: #36393f;
	}
	p{
	  text-align: center;
	  color: #cbcbcc;
	  font-size: 16px;
	  margin-top: 40px;
	  margin-bottom: -15px;
	}
	h1{
	  text-align: center;
	  color: #cbcbcc;
	  margin-top: 2.5px;
	  margin-bottom: 2.5px;
	}
	h2{
		text-align: center;
		margin-top: -20px;
		margin-bottom: 0px;
		color: #6f7276;
		font-size: 12px;
	}
    input{
		background-color: #566cf5;
		width: 150px;
		height: 66.67px;
		text-align: center;
	  	color: #cbcbcc;
		font-size: 15px;
		font-weight: bold;
		border: none;
		border-radius: 5px;
		transition: 0.5s;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	input:hover{
		cursor: pointer;
		box-shadow: none;
		background-color: #566bf5a2;
	}
	input:active{
		cursor: none;
		background-color: #6f7276;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	  }
	  .logo{
		display: flex;
		flex-direction: column;
  		align-items: center;
	}	
</style>

<title>Error</title>
</head>
<body>
    <br><br><br>
	<div class="logo">
		<img id="main-logo" src="/logo.png" alt="FSM Logo" width="15%" height="15%"></a>
	</div>
<p><h1>Sorry! :(<br><br>There's too many results to display for that search!<br><br>Try typing in your movie title exactly!</h1></p>
<br>
<img src="/too_many_results.png" alt="too many results" class="center" width=200 height=200><br><br><br>
<input class="center" type="button" onclick="history.back();" value="Go Back">
    </body>
    </html>