<% include ../partials/head %>

<title>Error</title>
</head>
<body>
<h1>Sorry, We couldn't find a movie by that title! Please return to Search Page and try again!</h1>
<input type="button" onclick="history.back();" value="Return to Search">
    </body>
    </html>