<% include ../partials/head %>

<title>Error</title>
</head>
<body>
<h1>We're sorry, We couldn't find any results that matched your search! Please try again!</h1>
<input type="button" onclick="history.back();" value="Return to Search">
    </body>
    </html>
