<% include ../partials/head %>

<title>Error</title>
</head>
<body>
<h1>Sorry, there are no reviews for that title. Please return to Search Page and try again!</h1>
<input type="button" onclick="history.back();" value="Return to Search">
    </body>
    </html>