<% include partials/head %>

<title>Error</title>
</head>
<body>
<h1>Too many results! Please return to Search Page and try again!</h1>
<input type="button" onclick="history.back();" value="Return to Search">
    </body>
    </html>